<ion-view title="个人信息">

    <ion-content padding="true">
        <div class="list list-inset ">
            <label class="item item-input">
                <span class="input-label">头像</span>
                <div class="col text-right">
                <img width="30" height="30" class="text-right" src="../www/img/ionic.png" />
                </div>
            </label>
            <label class="item item-input">
                <span class="input-label">姓名</span>
                <div class="col text-right">
                    <input type="text"  ng-model="data.name">
                </div>
            </label>
            <label class="item item-input">
                <span class="input-label">性别</span>
                <div class="col text-right">
                    <input type="text"  ng-model="data.sex">
                </div>
            </label>
            <label class="item item-input">
                <span class="input-label">年纪</span>
                <div class="col text-right">
                    <input type="text"  ng-model="data.age">
                </div>
            </label>
        </div>

    </ion-content>
</ion-view>
