<ion-view view-title="登录" name="login-view"  ui-sref="login">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="data.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="data.password">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    登录类型
                </div>
                <select  ng-model="data.usertype">
                    <option >学生</option>
                    <option >老师</option>

                </select>
            </label>

        </div>
        <button class="button button-block button-calm" ng-click="login()">Login</button>
    </ion-content>
</ion-view>